@model TicketBooking.Domain.Entity.CountryModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CountryModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryRegions.RegionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryRegions.RegionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CountryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
