@model IEnumerable<TicketBooking.Domain.Entity.CountryModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Region
        </th>
        <th>
            Code
        </th>
        <th>
            Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryRegions.RegionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CountryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryId })
        </td>
    </tr>
}

</table>
