@model TicketBooking.Domain.DTO.CountryRegionDto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.Id)
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-control">
                    <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                    <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                    <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                    <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
                </div>
                <h3 class="panel-title">Country Region Info</h3>
            </div>
            <!--Validation States-->
            <!--===================================================-->
            <div class="panel-body">
                <div class="form-group">
                    <label for="demo-vs-definput" class="control-label">Region</label>
                    @Html.EditorFor(model => model.RegionName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RegionName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default" />
                    <input type="reset" value="Close" class="btn btn-danger" />
                </div>
            </div>
            <!--===================================================-->
            <!--END OF VALIDATION STATES-->
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
